[Unit]
Description=Awesome Service
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill hello
ExecStartPre=-/usr/bin/docker rm hello
ExecStartPre=/usr/bin/docker pull nginx:latest
ExecStart=/usr/bin/docker run -P --name hello nginx:latest
ExecStop=/usr/bin/docker stop hello
